html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  flex-direction: column;
}

main {
  display: flex;
  place-items: center;
  place-content: center;
  height: 80%;
  width: 80%;
  margin: 1em;
  position: relative;
  background-color: rgb(17, 17, 17);
  border-radius: 100px;
}

.node {
  text-align: center;
  background-color: red;
  clip-path: circle(50%);
  width: 80px;
  aspect-ratio: 1/1;
  color: white;
  display: flex;
  place-items: center;
  place-content: center;
  margin: 1em;
  flex: 0 0 15%;
  flex-flow: column wrap;
  z-index: 1;
  cursor: grab;
}

.selector {
  background-color: white;
  height: 3em;
  display: flex;
  place-items: center;
  align-items: center;
  padding: 0.3em;
  border-radius: 1em;
  gap: 1em;
}

.pannel {
  display: flex;
  background: url(./assets/background.gif);
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 1em;
  text-align: center;
  place-content: center;
  place-items: center;
  flex-direction: column;
}

h2 {
  margin: 0;
  background-color: white;
  border-radius: 10px;
  width: 120%;
}

.from-to {
  display: flex;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
  }
}
