body {
  margin: 0;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
}

main {
  display: flex;
  place-items: center;
  place-content: center;
  position: relative;
  height: 90%;
  width: 90%;
}

.node {
  background-color: red;
  clip-path: circle(50%);
  width: 100px;
  aspect-ratio: 1/1;
  color: white;
  display: flex;
  place-items: center;
  place-content: center;
  margin: 1em;
  flex: 1 0 15%;
  flex-flow: column wrap;
  z-index: 1;
}
